@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --text-50: #f4f3f1;
    --text-100: #e9e8e2;
    --text-200: #d3d0c5;
    --text-300: #bcb9a9;
    --text-400: #a6a28c;
    --text-500: #908b6f;
    --text-600: #736f59;
    --text-700: #565343;
    --text-800: #3a372c;
    --text-900: #1d1c16;
    --text-950: #0e0e0b;
    
    --background-50: #f4f3f1;
    --background-100: #e8e7e3;
    --background-200: #d2cfc6;
    --background-300: #bbb8aa;
    --background-400: #a4a08e;
    --background-500: #8e8871;
    --background-600: #716d5b;
    --background-700: #555244;
    --background-800: #39362d;
    --background-900: #1c1b17;
    --background-950: #0e0e0b;
    
    --primary-50: #fbe9ee;
    --primary-100: #f8d3de;
    --primary-200: #f0a8bc;
    --primary-300: #e97c9b;
    --primary-400: #e1517a;
    --primary-500: #da2558;
    --primary-600: #ae1e47;
    --primary-700: #831635;
    --primary-800: #570f23;
    --primary-900: #2c0712;
    --primary-950: #160409;
    
    --secondary-50: #fbf4ea;
    --secondary-100: #f6e9d5;
    --secondary-200: #eed4aa;
    --secondary-300: #e5be80;
    --secondary-400: #dca956;
    --secondary-500: #d4932b;
    --secondary-600: #a97623;
    --secondary-700: #7f581a;
    --secondary-800: #553b11;
    --secondary-900: #2a1d09;
    --secondary-950: #150f04;
    
    --accent-50: #fdf5e8;
    --accent-100: #fbecd0;
    --accent-200: #f6d9a2;
    --accent-300: #f2c673;
    --accent-400: #eeb244;
    --accent-500: #e99f16;
    --accent-600: #bb7f11;
    --accent-700: #8c600d;
    --accent-800: #5d4009;
    --accent-900: #2f2004;
    --accent-950: #171002;
  }

  .dark {
    .gradient {
      @apply bg-gradient-to-tr from-camel-background-100 to-camel-background-200;
    }

    .gradient-footer {
      @apply bg-gradient-to-bl from-camel-background-100 to-camel-background-200;
    }

    --text-50: #0e0e0b;
    --text-100: #1d1c16;
    --text-200: #3a372c;
    --text-300: #565343;
    --text-400: #736f59;
    --text-500: #908b6f;
    --text-600: #a6a28c;
    --text-700: #bcb9a9;
    --text-800: #d3d0c5;
    --text-900: #e9e8e2;
    --text-950: #f4f3f1;
    
    --background-50: #0e0e0b;
    --background-100: #1c1b17;
    --background-200: #39362d;
    --background-300: #555244;
    --background-400: #716d5b;
    --background-500: #8e8871;
    --background-600: #a4a08e;
    --background-700: #bbb8aa;
    --background-800: #d2cfc6;
    --background-900: #e8e7e3;
    --background-950: #f4f3f1;
    
    --primary-50: #160409;
    --primary-100: #2c0712;
    --primary-200: #570f23;
    --primary-300: #831635;
    --primary-400: #ae1e47;
    --primary-500: #da2558;
    --primary-600: #e1517a;
    --primary-700: #e97c9b;
    --primary-800: #f0a8bc;
    --primary-900: #f8d3de;
    --primary-950: #fbe9ee;
    
    --secondary-50: #150f04;
    --secondary-100: #2a1d09;
    --secondary-200: #553b11;
    --secondary-300: #7f581a;
    --secondary-400: #a97623;
    --secondary-500: #d4932b;
    --secondary-600: #dca956;
    --secondary-700: #e5be80;
    --secondary-800: #eed4aa;
    --secondary-900: #f6e9d5;
    --secondary-950: #fbf4ea;
    
    --accent-50: #171002;
    --accent-100: #2f2004;
    --accent-200: #5d4009;
    --accent-300: #8c600d;
    --accent-400: #bb7f11;
    --accent-500: #e99f16;
    --accent-600: #eeb244;
    --accent-700: #f2c673;
    --accent-800: #f6d9a2;
    --accent-900: #fbecd0;
    --accent-950: #fdf5e8; 
  }

  h1 {
    @apply text-4xl md:text-6xl;
    @apply font-lilita;
  }
  h2 {
    @apply text-3xl md:text-4xl;
    @apply font-lilita;
  }
  h3 {
    @apply text-xl md:text-2xl;
    @apply font-lilita;
  }
  p {
    @apply text-sm md:text-base;
  }

  header {
    @apply absolute top-0 left-0 w-full z-10;
    @apply bg-gradient-to-b from-camel-background-50 to-transparent;
    height: 150px;
  }

  footer {
    @apply bg-camel-background-50;
  }

  .container a {
    @apply text-camel-accent-600 font-bold;
  }
}

@layer components {
  .header {
    @apply flex justify-between items-center;
    @apply max-w-screen-xl mx-auto 
          p-2 md:p-4 
          space-x-4;
    @apply text-camel-accent-600
          text-xl md:text-2xl;
    ul {
      @apply flex space-x-4 md:space-x-8;
    }
    li:hover {
      @apply text-camel-accent-800;
    }
  }

  .footer {
    @apply max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto;
    @apply p-2 md:p-4
  }

  .prose {
    h1, h2, h3, h4, h5, h6 {
      @apply text-camel-yellow-light;
    }
  }

  .hero {
    @apply flex items-center justify-center;
    @apply h-full bg-cover;
    @apply transition-all duration-500 ease-in-out;
    @apply text-camel-accent-600;
    h1 {
      text-shadow: 0px 2px 10px #332C1F;
    }
  }

  .button-yellow {
    @apply bg-camel-accent-600;
    @apply text-camel-text-200;
    @apply hover:bg-camel-text-200;
    @apply hover:text-camel-accent-600;
    @apply px-4 py-2 rounded-md mt-4;
    @apply text-sm md:text-base;
    @apply font-bold;
  }

  .carousel-parent {
    @apply relative;
    height: 580px;
  }
  .carousel-dot {
    @apply w-2 h-2 md:w-4 md:h-4
          rounded-full bg-camel-background-300;
    @apply cursor-pointer;
  }

  .dynamic-grid {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4;
  }

  .news-preview {
    @apply flex flex-col justify-between;
    @apply md:h-60 xl:h-80
          space-x-2 md:space-x-6 xl:space-x-10
          text-sm md:text-base;

    img {
      @apply h-48
      w-full md:h-full;
      @apply cursor-pointer object-cover rounded-lg;
      @apply transform transition-all duration-500 ease-in-out;
      @apply md:hover:scale-105 md:hover:drop-shadow-lg;
      @apply mb-4 md:mb-0;
      

      &:hover {
        filter: drop-shadow(1px 5px 10px rgba(70, 64, 55, 0.5));
      }
    }

    .description {
      @apply mb-2 overflow-hidden
      line-clamp-2 md:line-clamp-4 xl:line-clamp-6;
    }
  }

  .card {
    @apply relative overflow-hidden;
    @apply transform transition-all duration-500 ease-in-out;
    @apply md:hover:scale-110 md:hover:rotate-2 md:hover:drop-shadow-lg;

    &:after {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background: linear-gradient(60deg, rgba(239,185,34,0.2) 25%, transparent 50%, transparent 75%, rgba(239,185,34,0.2) 100%);
      pointer-events: none;
      z-index: 100;
      opacity: 0;
      transition: opacity 0.5s;
    }
  
    &:hover:after {
      opacity: 1;
    }
  }

  .tag {
    @apply font-bold bg-camel-primary-400 text-camel-text-800 rounded-lg px-2 py-1;
  }

  .unimportant {
    @apply text-sm text-camel-primary-400;
  }

  .footer-nav {
    @apply flex 
      py-2 md:py-4 space-x-4 md:space-x-8;
    @apply border-b-2 border-camel-text-400;
    @apply text-camel-text-400;
  }

  .footer-info {
    @apply flex py-4 justify-between
      space-x-4 md:space-x-8
      text-camel-primary-400;
  }
}

body {
  @apply bg-camel-background-100;
  @apply text-camel-text-700;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #332c1f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #706a5f;
}
